<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            <a href="/">Back to Homepage</a>
            {{#each reviews}}
                <li class="list-group-item">
                    <div class="lead"><a href="/reviews/{{this._id}}">{{this.criticed_user}}</a></div>
                    <p>{{this.stars}}</p>
                    <p>{{this.comment}}</p>
                    <p><a href="{{this.author.username}}"><small>{{this.author.username}}</small></a></p>
                </li>
            {{/each}}
        </ul>
    </div>
</div>