<div class="row">  
  <div class="col-sm-6 col-sm-offset-3">
    <a href="/listings">Back to Listings</a>
    <h1>{{listing.title}}</h1>
    <p>{{listing.address}}</p>
    <p>{{listing.rent}}</p>
    <p>{{listing.description}}</p>
    <p><a href="/listings/{{listing._id}}/edit">Edit</a></p>
    <p><form method="POST" action="/listings/{{listing._id}}?_method=DELETE">
        <button class="btn btn-primary" type="submit">Delete</button>
    </form></p>
  </div>
</div>